<html>
<head>
    <title>upload the file : GFG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img style="width: 200px; height: 50px" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </div>
        <div class="menu">
            {% for m in menu %}
            {%if m.title == 'Войти' and user.is_authenticated%}
                <a href="{{ url_for('profile') }}">Личный профиль</a>
            {%else%}
                <a href="{{m.url}}">{{m.title}}</a>
            {%endif%}
            {% endfor %}
        </div>
    </div>
    {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
    <div class="bg">
    <div class="selector">
        <div class="tg_image">
            <img style="width: 150px; height: 150px" src="{{ url_for('static', filename='images/tg_image.png') }}" alt="">
        </div>
        <div class="grid">
            <div class="messenger-text">
                <h2 style="font-family: Georgia,serif;">Выберите мессенджер</h2>
            </div>
            <form class="messenger-selector" action="/change_messenger" method="post">
                <button type="submit" name="action" value="button1">Telegram</button>
                <button type="submit" name="action" value="button2">Whatsapp</button>
            </form>
        </div>
        <div class="w_image">
            <img style="width: 150px; height: 150px" src="{{ url_for('static', filename='images/w_image.png') }}" alt="">
        </div>
    </div>
    <div class="consts">
        {%if param1==None%}
        <h1 style="font-family: Georgia,serif;">Выбранный мессенджер:</h1>
        {%else%}
        <h1 style="font-family: Georgia,serif;">Выбранный мессенджер: {{ param1 }}</h1>
        {%endif%}
    </div>
    <div class="form-container">
    <form action="/load_image" method="post" enctype="multipart/form-data" style="display: flex">
      <div class="input-file-container">
        <input class="input-file" id="my-file" type="file" name="file">
        <label tabindex="0" for="my-file" class="input-file-trigger">Выберите файл...</label>
        <p class="file-return"></p>
        <input type="submit" value="Загрузить фотографию">
      </div>
    </form>
    </div>
    <div class="consts">
        {%if param2==None%}
        <h1 style="font-family: Georgia,serif;" >Выбранный фото:</h1>
        {%else%}
        <h1 style="font-family: Georgia,serif;" >Выбранное фото: {{ param2 }}</h1>
        {%endif%}
    </div>
    <div class="form-container">
    <form action="/run_model" method="post" enctype="multipart/form-data">
        <div class="input-file-container">
        <input type="submit" value="Запустить модель">
        </div>
    </form>
    </div>

    <div class="footer">
        <div class="footer-logo">
            <img style="width: 200px; height: 50px" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </div>
        <div class="links">
            <a href="">
                <img src="{{ url_for('static', filename='images/vk.png') }}" alt="" style="">
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='images/tg.png') }}" alt="" style="width: 50px; height: 50px">
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="" style="width: 50px; height: 50px">
            </a>
        </div>
    </div>
</body>
<script>
document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".input-file" ),
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");

button.addEventListener( "keydown", function( event ) {
    if ( event.keyCode == 13 || event.keyCode == 32 ) {
        fileInput.focus();
    }
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});
fileInput.addEventListener( "change", function( event ) {
    var fullPath = this.value;
    var filename = fullPath.split('\\').pop(); // Получаем последний элемент после разделения по обратной косой черте
    the_return.innerHTML = filename;
});
</script>
</html>