<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расшифровка</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/tg.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/json.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>MessageChecker</h1>
        </div>
        <div class="menu">
            {% for m in menu %}
            {%if m.title == 'Войти' and user.is_authenticated%}
                <a href="{{ url_for('profile') }}">Личный профиль</a>
            {%else%}
                <a href="{{m.url}}">{{m.title}}</a>
            {%endif%}
            {% endfor %}
        </div>
    </div>
    <div class="bg">
    {% if data['info']%}
        <h1> {{data['info']}}</h1>
    {% else %}
    <h1 style="text-align: center; font-family: 'Lucinda Grande', 'Lucinda Sans Unicode', Helvetica, Arial, Verdana, sans-serif;"><strong>Название чата:</strong> {{ data['channel name'] }}</h1>
    <div class="filters">
    <form method="GET" id="filter-form">
        <div style="padding-top: 10px">
            <label><input type="checkbox" name="type" value="own"> Исходящии</label>
            <label><input type="checkbox" name="type" value="others"> Входящии</label>
            <label><input type="checkbox" name="changed" value="changed"> Измененные </label>
            <label><input type="checkbox" name="changed" value="not_changed"> Неизмененные </label>
            <label><input type="checkbox" name="quote" value="with_quote"> С цитатой</label>
            <label><input type="checkbox" name="quote" value="without_quote"> Без цитаты</label>
        </div>
        <div style="padding: 10px 0 5px 5px">
            <button type="submit">Применить фильтры</button>
             <a href="{{ url_for('run_model') }}"><button type="button">Сбросить фильтры</button></a>
        </div>
    </form>
</div>
    <div class="prokrutka">

        <ul>
            {% for message in data['messages'] %}
                <li class="{% if message.type == 'Входящие' %}in-message{% else %}my-message{% endif %}">
                    <p><strong>Владелец сообщения:</strong> {{ message.owner }}</p>
                    <p><strong>Владелец цитаты:</strong> {{ message.quote_owner }}</p>
                    <p><strong>Цитата:</strong> {{ message.quote }}</p>
                    <p><strong>Текст сообщения:</strong> {{ message.text }}</p>
                    <p><strong>Время отправления:</strong> {{ message.time }}</p>
                    <p><strong>Изменено ли:</strong> {{ message.changed }}</p>
                    <p><strong>Тип сообщения:</strong> {{ message.type }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
        </div>
    <div class="footer">
        <div class="footer-logo">
            <h1>MessageChecker</h1>
        </div>
        <div class="links">
            <a href="">
                <img src="{{ url_for('static', filename='images/vk.png') }}" alt="" style="">
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='images/tg.png') }}" alt="" style="width: 50px; height: 50px">
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="" style="width: 50px; height: 50px">
            </a>
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Получаем все галочки
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');

        // Проходимся по каждой галочке
        checkboxes.forEach(function(checkbox) {
            // Если значение галочки есть в параметрах запроса, устанавливаем ее состояние как checked
            if (getQueryParameter(checkbox.name, checkbox.value)) {
                checkbox.checked = true;
            }
        });
    });

    // Функция для получения значения параметра запроса по его имени
    function getQueryParameter(name, value) {
        var urlParams = new URLSearchParams(window.location.search);
        var values = urlParams.getAll(name);
        return values.includes(value);
    }
</script>
</html>
