<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/tg.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">
</head>
<body>
    <div class="header">
         <div class="logo">
            <h1>MessageChecker</h1>
        </div>
        <div class="menu">
            {% for m in menu %}
            {%if m.title == 'Войти'%}
                <a href="{{ url_for('logout') }}">Выйти</a>
            {%else%}
                <a href="{{m.url}}">{{m.title}}</a>
            {%endif%}
            {% endfor %}
        </div>
    </div>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="main">

    <div class="profile">
    <div class="avatar">
        <img src="{{ url_for('userava') }}" alt="" style="width: 250px; height: 250px;">
    </div>
    <div class="form-container">
    <form action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data" style="display: flex">
      <div class="input-file-container">
        <input class="input-file" id="my-file" type="file" name="file">
        <label tabindex="0" for="my-file" class="input-file-trigger">Выберите файл...</label>
        <p class="file-return"></p>
        <input type="submit" value="Загрузить фотографию">
      </div>
    </form>
    </div>
    <div class="name_surname">
            <p>Имя: {{ current_user.getname() }}</p>
            <p>Фамилия: {{ current_user.getsurname() }}</p>
    </div>
    <div class="email">
            <p>Email: {{ current_user.getemail() }}</p>
    </div>
    </div>
<div>
    <div class="filters">
    <form action="{{ url_for('profile') }}" method="get">
        <label for="start">Начальная дата (гггг-мм-дд):</label>
        <input type="text" id="start" name="start" value="{{ start_date}}">
        <label for="end">Конечная дата (гггг-мм-дд):</label>
        <input type="text" id="end" name="end" value="{{ end_date }}">
        <button type="submit">Применить фильтр</button>
    </form>
        <a href="{{ url_for('profile')}}"><button type="reset">Сбросить фильтр</button></a>
    </div>
{% if nouses %}
    <div style="padding-left: 400px; padding-top: 200px;
                font-size: 30px">
        {{nouses}}
    </div>
{% else %}
<div class="uses">
        {% for u in uses %}
            <div class="rows">
                <p style="padding-left: 50px">{{ u[0] }}</p>
                <a class="image_d" href="{{ url_for('download_image', filename=u[1]) }}">{{ u[1] }}</a>
                <a class="image_f" href="{{ url_for('download_file', date_time=u[0], filename=u[2]) }}">{{ u[2] }}</a>
            </div>
        {% endfor %}
    <div class="pagination">
    {% if page > 1 %}
        <a class="paga" href="{{ url_for('profile', page=page-1, start=start_date, end=end_date) }}">Предыдущая</a>
    {% endif %}
    <span>Страница {{page}} из {{total_pages}}</span>
    {% if page < total_pages %}
        <a class="paga" href="{{ url_for('profile', page=page+1, start=start_date, end=end_date) }}">Следующая</a>
    {% endif %}
    </div>

</div>
{% endif %}
        </div>
</div>
    <div class="footer">
        <div class="footer-logo">
            <h1>MessageChecker</h1>
        </div>
        <div class="links">
            <a href="">
                <img src="{{ url_for('static', filename='images/vk.png') }}" alt="" style="">
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='images/tg.png') }}" alt="" style="width: 50px; height: 50px">
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="" style="width: 50px; height: 50px">
            </a>
        </div>

    </div>
</body>
<script>
document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".input-file" ),
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");

button.addEventListener( "keydown", function( event ) {
    if ( event.keyCode == 13 || event.keyCode == 32 ) {
        fileInput.focus();
    }
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});
fileInput.addEventListener( "change", function( event ) {
    var fullPath = this.value;
    var filename = fullPath.split('\\').pop(); // Получаем последний элемент после разделения по обратной косой черте
    the_return.innerHTML = filename;
});
</script>
</html>